.container {
    display: flex;
    gap: 100px;
  }
  
.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

.sub_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 150px;
}

.sub_container_box{
  padding: 30px;
  background: rgba( 255, 255, 255, 0 );
  box-shadow: 0 6px 16px 0 #B6C4B6;
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.sub_container_box h3{
  font-weight: 700;
}

.headertag{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px 0px 25px 0px;
  font-size: 20px;
  font-weight: 600;
}
  
.title{
    font-size: 45px;
  }
  
.word{
  color: #50623A;
}
.desc{
    font-size: 16px;
  }

.boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  
.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin:10px; */
    padding:10px;
    /* border: 2px solid #3498db; */
    border-radius: 10px;
    cursor: pointer;
    background-color: #E1F0DA;
    transition: transform 0.3s ease-in-out;
  }

.box h1{
  font-weight:700;
}
  
.buttons{
    display: flex;
    gap: 20px;
  }
  
.button{
    padding: 15px;
    min-width: 100px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
.button:nth-child(1){
    background-color: black;
    color: white;
  }

.button:nth-child(2){
  background-color: grey;
  color: #FBF9F1;
}
  
.brands{
    width: 500px;
    height: 50px;
    position: relative;
    filter: grayscale(1);
  }
  
.imgContainer {
    flex: 1;
    position: relative;
  }
  
@media (max-width: 1024px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
  
    .buttons{
      justify-content: center;
    }

    .sub_container{
      /* display: flex;
      flex-direction: column;
      justify-content: center; */
      gap: 50px;
    }
  }
  
@media (max-width: 768px) {
    .title {
      font-size: 54px;
    }
  
    .brands{
      width: 100%;
    }

    .boxes{
      flex-direction: column;
      gap: 20px;
    }

    .sub_container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
    }
  }